@page "/"

@inject IJSRuntime JSRuntime;
@using BlazorWebAssemblyPortfolio.Shared.Experience
@using BlazorWebAssemblyPortfolio.Shared.Projects
@using BlazorWebAssemblyPortfolio.Shared.AboutMe

<style>
    .Torch {
        background: radial-gradient( 800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.06), transparent 40% );
    }
</style>

<div class="Torch">
    <Landing />
    <MudContainer MaxWidth="MaxWidth.Large" Class="d-flex align-start mud-theme-background">
        <MudItem Class="sticky" style="width: 100%; top: 20%; padding-left: 10%;">
            <Blurb />
            <Contents />
        </MudItem>
        <MudItem style="width:100%;">
            <MudStack>
                <MudPaper id="about" Class="mud-theme-primary rounded-lg" Elevation="3">
                    <AboutMe />
                </MudPaper>

                <MudPaper id="experience" Class="mud-theme-primary rounded-lg" Elevation="3">
                    <Experience />
                </MudPaper>

                <MudPaper id="projects" Class="mud-theme-primary rounded-lg" Elevation="3">
                    <Projects />
                </MudPaper>
            </MudStack>
        </MudItem>
    </MudContainer>
</div>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("initTorch");
        }
    }
}
