
<MudContainer MaxWidth="MaxWidth.Large" id="about">
    <MudStack Row="true">
        <p id="about"></p>
        <MudText>
            Hi, Lorem Ipsum stuff goes here
        </MudText>
    </MudStack>
</MudContainer>
