

@inject NavigationManager NavigationManager
<MudStack>
    <a onclick="document.getElementById('about').scrollIntoView({behavior:'smooth'})">about</a>
    <a onclick="document.getElementById('experience').scrollIntoView({behavior:'smooth'})">experience</a>
    <a onclick="document.getElementById('projects').scrollIntoView({behavior:'smooth'})">projects</a>
</MudStack>
