

<MudStack>
    <a href="#about">#example</a>
    <MudButton Href="#about">About</MudButton>
    <MudButton Href="#experience">Experience</MudButton>
    <MudButton Href="#projects">Projects</MudButton>
</MudStack>

