@inject IJSRuntime javaScript;
<MudStack Style="height:100vh; width: 100%;" Justify="Justify.Center" AlignItems="AlignItems.Center">
    <h2 class="fadeIn">Welcome to my portfolio</h2>
    <MudStack Row="true" Spacing="0">
        <h1 class="landingHeading fadeIn" style="animation-delay:2s">@greeting</h1>
        <h1 class="landingHeading fadeIn" style="animation-delay: 2s; opacity: @barOpacity;">@bar</h1>
    </MudStack>
    <h2 class="fadeIn" style="animation-delay: 3s;">A Work In Progress</h2>
</MudStack>


@implements IDisposable
@code{
    List<string> _greetingOptions = new List<string> { "Hello.", "Hi.", "G\'day.", "Welcome." };
    string greeting = "";

    PeriodicTimer? _barTimer;

    private bool showBar = false;
    private string bar => "|";
    private int barOpacity => showBar ? 1 : 0;

    private bool scrollAnimation = true;
    protected override async void OnInitialized()
    {
        await Task.Delay(3000);
        StartGreetingScroll();
        showBar = true;

        base.OnInitialized();
    }

    private async void StartBar()
    {
        _barTimer = new PeriodicTimer(TimeSpan.FromSeconds(0.2));

        while (await _barTimer.WaitForNextTickAsync())
        {
            ToggleBar();
        }
    }

    private void StopBar()
    {
        _barTimer?.Dispose();
    }

    private async void StartGreetingScroll()
    {
        scrollAnimation = true;
        while (scrollAnimation == true)
        {
            foreach (var character in _greetingOptions.GetRandomElement().ToCharArray())
            {
                greeting += character;
                StateHasChanged();
                await Task.Delay(500);
            }

            StartBar();
            await Task.Delay(2000);
            StopBar();
            showBar = true;

            while (!String.IsNullOrEmpty(greeting))
            {
                greeting = greeting.Substring(0, greeting.Length - 1);

                StateHasChanged();
                await Task.Delay(250);
            }

            StartBar();
            await Task.Delay(1500);
            StopBar();
            showBar = true;
        }

    }

    public void Dispose()
    {
        StopBar();
    }

    private void ToggleBar()
    {
        showBar = !showBar;
        StateHasChanged();
    }
}