# SOURCE: https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages
name: Deploy to Github Pages
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK 3.1
        uses: actions/setup-dotnet@v3.2.0
        with:
          dotnet-version: 7.0.7
      - name: Publish .NET Core Project
        run: dotnet publish Blazor-WebAssembly-Portfolio.csproj -c Release -o release --nologo
      - name: Commit wwwroot to Github Pages
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: release/wwwroot
